@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Qui sanctus amet doming nulla gubergren dolores sed ipsum consequat nulla consectetuer sit dolor erat stet et dolore consetetur clita voluptua amet sadipscing ipsum sit ut amet aliquyam aliquyam lorem labore diam gubergren velit elitr no magna possim et est diam diam ad aliquyam et at aliquyam voluptua dolor ipsum</p>
